<ion-header>
  <ion-toolbar>
    <div
      class="osahan-header-nav shadow-sm d-flex align-items-center bg-purple"
    >
      <h5 class="font-weight-normal mb-0 text-white mt-5">
        <a class="text-purple" routerLink="/payment"
          ><fa-icon icon="arrow-left" class="icofont-rounded-left"></fa-icon
        ></a>
        <ion-title>{{ "APP.PAYMENT.TITLE" | translate }}</ion-title>
      </h5>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content id="content" fullscreen>
  <!-- <cdk-virtual-scroll-viewport
    class="scroll-viewport"
    #scroll
    itemSize="80"
    minBufferPx="900"
    maxBufferPx="1350"
  > -->
  <div id="sign-in-button"></div>
  <div
    class="osahan-index bg-c align-items-center justify-content-center index-page py-5"
  >
    <div class="px-3">
      <div class="osahan-signin text-center font-bold text-purple p-1">
        <div class="row">
          <div class="col-md-9 col-lg-7 col-xl-6 mx-auto">
            <!-- Payment Cancelled
            ============================================= -->
            <div
              class="bg-white text-center shadow-sm rounded p-3 pt-sm-4 pb-sm-5 px-sm-5 mb-4"
            >
              <div class="my-4">
                <p class="text-success text-20 lh-1">
                  <fa-icon
                    icon="ban"
                    class="icofont-ban"
                    style="font-size: 50px"
                  ></fa-icon>
                </p>
                <p class="text-danger text-8 fw-500 lh-1">Payment Cancelled!</p>
                <p class="text-purple">
                  User has explicitly cancelled the payment due to which the
                  transaction is not completed.
                </p>
              </div>
            </div>
          </div>
        </div>

        <p class="m-5 pt-2 text-purple">
          <a routerLink="/payment" class="text-orange font-bold ml-2"
            >Back to Payment</a
          >
        </p>
      </div>
    </div>
  </div>
</ion-content>
