<ion-header>
  <!-- <ion-toolbar> -->
  <div
    class="osahan-header-nav shadow-sm p-3 d-flex align-items-center bg-purple"
  >
    <h5 class="font-weight-normal mb-0 text-white">
      <a class="text-purple" routerLink="/get-started"
        ><fa-icon icon="arrow-left" class="icofont-rounded-left"></fa-icon
      ></a>
      <ion-title>{{ "APP.PAYMENT.TITLE" | translate }}</ion-title>
    </h5>
  </div>
  <!-- </ion-toolbar> -->
</ion-header>

<ion-content id="content" fullscreen>
  <!-- <cdk-virtual-scroll-viewport
    class="scroll-viewport"
    #scroll
    itemSize="80"
    minBufferPx="900"
    maxBufferPx="1350"
  > -->
  <!-- Payment -->
  <div
    class="
      osahan-index
      bg-c
      align-items-center
      justify-content-center
      vh-100
      index-page
      py-3
    "
  >
    <div class="osahan-form pt-3 px-3">
      <!-- You Ticket -->
      <div class="your-ticket mb-3">
        <div class="p-0">
          <!-- Select Payment -->
          <div class="m-0 p-3">
            <ng-container *ngIf="userFirmActivity === 'Driver'; then driverPay; else otherPay">
            </ng-container>
            <ng-template #driverPay>
              <div class="p-3 mb-3 driver-payment">
                <div class="payment-tag-onemonth">
                  <img src="assets/images/onemonth.png" class="onemonth-tag"/>
                </div>
                <div
                  class="
                    w-100
                    mastercard
                    custom-control
                    custom-radio 
                    custom-control-inline
                    mr-0
                  "
                >
                  <label
                    class="custom-control-label small w-100"
                    for="customRadiomaster1"
                  >
                    <a class="d-flex align-items-start">
                      <div class="">
                        <!-- <fa-icon icon="rupee-sign" class="rupee-sign" style="color: #5f259f !important; font-size: 18px;"></fa-icon> -->
                        <span class="mb-0 text-muted" style="font-size: 32px;"></span>
                        <p class="text-muted" style="font-size: 14px;"></p>
                      </div>
                    </a>
                  </label>
                </div>
              </div>
            </ng-template>
            <ng-template #otherPay>
              <div class="p-3 mb-3 owner-payment">
                <div class="payment-tag-oneyear">
                  <img src="assets/images/oneyear.png" class="oneyear-tag"/>
                </div>
                <div
                  class="
                    w-100
                    visa
                    custom-control 
                    custom-radio 
                    custom-control-inline
                    mr-0
                  "
                >
                  <label
                    class="custom-control-label small w-100"
                    for="customRadiovisa1"
                  >
                    <a class="d-flex align-items-start">
                      <div class="">
                        <!-- <fa-icon icon="rupee-sign" class="rupee-sign" style="color: #5f259f !important; font-size: 18px;"></fa-icon> -->
                        <span class="mb-0 text-muted" style="font-size: 32px;"></span>
                        <p class="text-muted" style="font-size: 14px;"></p>
                      </div>
                    </a>
                  </label>
                </div>
              </div>
            </ng-template>  
          </div>
        </div>
      </div>
      <!-- Select Payment -->
      <div class="payment-borrad bg-white m-0 p-3 mb-3">
        <ng-container *ngIf="userFirmActivity === 'Driver'; then driverPayButton; else otherPayButton">
        </ng-container>
        <ng-template #driverPayButton>
          <div class="d-flex small">
            <p style="font-size: 18px;">{{ "APP.PAYMENT.TEXT.TOTAL_PAYABLE" | translate }}</p>
            <p class="ml-auto font-weight-bold text-purple" style="font-size: 24px;">
              {{ "APP.PAYMENT.TEXT.DRIVER_AMOUNT" | translate }}
            </p>
          </div>
        </ng-template>
        <ng-template #otherPayButton>
          <div class="d-flex small">
            <p style="font-size: 18px;">{{ "APP.PAYMENT.TEXT.TOTAL_PAYABLE" | translate }}</p>
            <p class="ml-auto font-weight-bold text-purple" style="font-size: 24px;">
              {{ "APP.PAYMENT.TEXT.OTHER_AMOUNT" | translate }}
            </p>
          </div>
        </ng-template>
        
      </div>

    <div class="osahan-fotter fixed-bottom px-3 py-3">
      <div class="col-12">
        <button
          type="submit"
          class="btn btn-purple btn-block"
          data-toggle="modal"
          data-target="#paymentModal"
          routerLink="/select-vehicle"
        >
          {{ "APP.PAYMENT.BUTTON.PAY" | translate }}
        </button>
              <!-- <button
                type="submit"
                class="btn btn-purple btn-block"
                style="padding-left: 2%"
                (click)="payWithRazorpay()"
              >
                LIVE TEST {{ "APP.PAYMENT.BUTTON.PAY" | translate }}
              </button> -->
      </div>
    </div>
    </div>
  </div>
</ion-content>
