<ion-header>
  <!-- <ion-toolbar> -->
  <div
    class="osahan-header-nav shadow-sm p-3 d-flex align-items-center bg-purple"
  >
    <h5 class="font-weight-normal mb-0 text-white">
      <a class="text-purple" routerLink="/get-started"
        ><fa-icon icon="arrow-left" class="icofont-rounded-left"></fa-icon
      ></a>
      <ion-title>{{ "APP.PAYMENT.TITLE" | translate }}</ion-title>
    </h5>
  </div>
  <!-- </ion-toolbar> -->
</ion-header>

<ion-content id="content" fullscreen>
  <!-- <cdk-virtual-scroll-viewport
    class="scroll-viewport"
    #scroll
    itemSize="80"
    minBufferPx="900"
    maxBufferPx="1350"
  > -->
  <!-- Payment -->
  <div
    class="
      osahan-index
      bg-c
      align-items-center
      justify-content-center
      vh-100
      index-page
      py-3
    "
  >
    <div class="osahan-form pt-3 px-3">
      <!-- You Ticket -->
      <div class="your-ticket mb-3">
        <div class="p-0">
          <!-- Select Payment -->
          <div class="payment-borrad bg-white m-0 p-3">
            <div class="border p-3 mb-2">
              <div
                class="
                  w-100
                  mastercard
                  custom-control custom-radio custom-control-inline
                  mr-0
                "
              >
                <input
                  type="radio"
                  id="customRadiomaster1"
                  name="customRadiocard1"
                  class="custom-control-input"
                  checked
                />
                <label
                  class="custom-control-label small w-100"
                  for="customRadiomaster1"
                >
                  <a class="d-flex align-items-start">
                    <div class="">
                      <fa-icon icon="rupee-sign" class="rupee-sign" style="color: #5f259f !important; font-size: 18px;"></fa-icon>
                      <span class="mb-0 text-muted" style="font-size: 32px;">
                        Rs. 299/-
                      </span>
                      <p class="text-muted" style="font-size: 14px;">Charged Quarterly. Non-Refundable</p>
                    </div>
                  </a>
                </label>
              </div>
            </div>
            <div class="border p-3 mb-2">
              <div
                class="
                  w-100
                  visa
                  custom-control custom-radio custom-control-inline
                  mr-0
                "
              >
                <input
                  type="radio"
                  id="customRadiovisa1"
                  name="customRadiocard1"
                  class="custom-control-input"
                />
                <label
                  class="custom-control-label small w-100"
                  for="customRadiovisa1"
                >
                  <a class="d-flex align-items-start">
                    <div class="">
                      <fa-icon icon="rupee-sign" class="rupee-sign" style="color: #5f259f !important; font-size: 18px;"></fa-icon>
                      <span class="mb-0 text-muted" style="font-size: 32px;">
                        Rs. 499/-
                      </span>
                      <p class="text-muted" style="font-size: 14px;">Charged Half yearly. Non-Refundable</p>
                    </div>
                  </a>
                </label>
              </div>
            </div>
            <div class="border p-3 mb-2">
              <div
                class="
                  w-100
                  visa
                  custom-control custom-radio custom-control-inline
                  mr-0
                "
              >
                <input
                  type="radio"
                  id="customRadiovisa1"
                  name="customRadiocard1"
                  class="custom-control-input"
                />
                <label
                  class="custom-control-label small w-100"
                  for="customRadiovisa1"
                >
                  <a class="d-flex align-items-start">
                    <div class="">
                      <fa-icon icon="rupee-sign" class="rupee-sign" style="color: #5f259f !important; font-size: 18px;"></fa-icon>
                      <span class="mb-0 text-muted" style="font-size: 32px;">
                        Rs. 999/-
                      </span>
                      <p class="text-muted" style="font-size: 14px;">Charged Yearly. Non-Refundable</p>
                    </div>
                  </a>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Select Payment -->
      <div class="payment-borrad bg-white m-0 p-3">
        <div class="d-flex small">
          <p style="font-size: 18px;">{{ "APP.PAYMENT.TEXT.TOTAL_PAYABLE" | translate }}</p>
          <p class="ml-auto font-weight-bold text-purple" style="font-size: 24px;">
            {{ "APP.PAYMENT.TEXT.AMOUNT" | translate }}
          </p>
        </div>
      </div>

    <div class="osahan-fotter fixed-bottom px-3 py-3">
      <div class="col-12">
        <button
          type="submit"
          class="btn btn-purple btn-block"
          data-toggle="modal"
          data-target="#paymentModal"
          routerLink="/select-vehicle"
        >
          {{ "APP.PAYMENT.BUTTON.PAY" | translate }}
        </button>
              <!-- <button
                type="submit"
                class="btn btn-purple btn-block"
                style="padding-left: 2%"
                (click)="payWithRazorpay()"
              >
                LIVE TEST {{ "APP.PAYMENT.BUTTON.PAY" | translate }}
              </button> -->
      </div>
    </div>
    </div>
  </div>
</ion-content>
