<ion-header>
  <div
    class="osahan-header-nav shadow-sm p-3 d-flex align-items-center bg-purple"
  >
    <h5 class="font-weight-normal mb-0 text-white">
      <a class="text-purple" routerLink="/home"
        ><fa-icon icon="arrow-left" class="icofont-rounded-left"></fa-icon
      ></a>
      <ion-title>{{ "APP.LISTING.TITLE" | translate }}</ion-title>
    </h5>
    <div class="ml-auto d-flex align-items-center">
      <ion-buttons slot="end">
        <a [routerLink]="['/profile/', docId]"><fa-icon icon="user-circle" class="icofont-user-circle"
        style="color: #ffffff; font-size: 26px;"></fa-icon></a>
        <a style="margin-left: 20px;"  (click)="doLogout()"><fa-icon icon="sign-out-alt" class="sign-out-alt"
          style="color: #ffffff; font-size: 26px;"></fa-icon></a>
      </ion-buttons>
    </div>
  </div>
</ion-header>

<ion-content id="content" fullscreen>
  <!-- <cdk-virtual-scroll-viewport
    class="scroll-viewport"
    #scroll
    itemSize="80"
    minBufferPx="900"
    maxBufferPx="1350"
  > -->
  <div class="osahan-listing p-0 m-0 row border-top">
    <div class="p-2 w-100">
      <div class="bg-white border border-warning rounded-1 shadow-sm p-2">
        <div class="row mx-0 px-1">
          <div class="col-6 p-0">
            <small class="text-muted mb-1 f-10 pr-1">{{
              "APP.LISTING.LABEL.GOING_FROM" | translate
            }}</small>
            <p class="small mb-0">{{ searchParam.from | uppercase }}</p>
          </div>

          <div class="col-6 p-0">
            <small class="text-muted mb-1 f-10 pr-1">{{
              "APP.LISTING.LABEL.GOING_TO" | translate
            }}</small>
            <p class="small mb-0">{{ searchParam.to | uppercase }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mx-0 px-1">
    <div class="col-12 p-0">
        <ion-searchbar (keyup)="setFilteredItems($event)" placeholder="Filter by Company Name"></ion-searchbar>
    </div>
  </div>

  <ion-list lines="none" *ngIf="!isLoading">
    <ion-item-sliding
      *ngFor="let company of companyLists; let i = index"
      class="text-dark px-0 py-0"
    >
      <div
        class="
          list_item_gird
          m-1
          bg-white
          shadow-sm
          listing-item
          border-right
          p-3
        "
      >
     
        <div class="tic-div mb-2">
          <small class="text-muted d-block">{{
            "APP.LISTING.LABEL.COMPANY_NAME" | translate
          }}</small>
          <p class="mb-0 l-hght-10">{{ company.companyName }} </p>
          
        </div>
        <ion-item class="top-border-line">
          <fa-icon
            icon="phone-alt"
            class="phone-alt"
            style="font-size: 24px; margin-right: 20px; color: #5f259f !important;"
          ></fa-icon>
          <ion-label>
            <h2>{{
              "APP.LISTING.LABEL.MOBILE" | translate
            }}</h2>
            <p>
              {{ company.mobileNumber }}
            </p>
          </ion-label>
          <fa-icon
              icon="angle-double-right"
              class="angle-double-right"
              [routerLink]="['/listing-detail/', company.id]"
            ></fa-icon>
        </ion-item>
      </div>
    </ion-item-sliding>
  </ion-list>

  <ion-list lines="none" *ngIf="isLoading">
    <ion-item-sliding *ngFor="let company of companys">
      <ion-item lines="none">
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 75%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-item-sliding>
  </ion-list>

  <div class="d-flex justify-content-center">
    <div
      class="spinner-grow d-flex justify-content-center"
      role="status"
      *ngIf="isLoading"
    >
      <span class="sr-only">{{ "APP.LISTING.LOADING" | translate }}</span>
    </div>
  </div>

  <div class="d-flex justify-content-center text-danger mt-5" *ngIf="noresults">
    <span>{{ "APP.LISTING.NO_RESULTS" | translate }}</span>
  </div>

  <!-- </cdk-virtual-scroll-viewport> -->
</ion-content>
