<ion-app>
  <ion-menu side="start" contentId="app-content">
    <ion-content>
      <a
        href="#"
        class="
          bg-purple
          sidebar-user
          d-flex
          align-items-center
          py-4
          px-3
          border-0
          mb-0
        "
      >
        <ngx-avatar name="{{ username }}" size="50"></ngx-avatar>
        <div class="text-white ml-2">
          <h6 class="mb-0">
            {{ userDetails && userDetails.companyName }}
          </h6>
          <small>{{ userDetails && userDetails.mobileNumber }}</small
          ><br />
          <span class="f-10 text-white-50">{{
            currentDate | date: "yyyy-MM-dd"
          }}</span>
        </div>
      </a>

      <a
        href="#"
        class="
          bg-purple
          sidebar-user
          py-2
          px-2border-0
          mb-0
          fixed-bottom
          text-align-center
        "
        (click)="doLogout()"
      >
        <div class="text-white">
          <h6 class="mb-0">Logout</h6>
        </div>
      </a>
    </ion-content>
  </ion-menu>
  <ion-router-outlet
    id="app-content"
    overflow-scroll="true"
  ></ion-router-outlet>
</ion-app>
