<ion-header>
  <!-- <ion-toolbar> -->
  <div
    class="osahan-header-nav shadow-sm p-3 d-flex align-items-center bg-purple"
  >
    <h5 class="font-weight-normal mb-0 text-white">
      <a class="text-purple" routerLink="/listing"
        ><fa-icon icon="arrow-left" class="icofont-rounded-left"></fa-icon
      ></a>
      <ion-title>{{ "APP.LISTING_DETAILS.TITLE" | translate }}</ion-title>
    </h5>
    <div class="ml-auto d-flex align-items-center">
      <ngx-avatar name="{{ userName }}" size="50"></ngx-avatar>
      <ion-buttons slot="end">
        <a [routerLink]="['/profile/', docId]"
          ><fa-icon
            icon="user-circle"
            class="icofont-user-circle"
            style="color: #ffffff; font-size: 26px"
          ></fa-icon
        ></a>
        <a style="margin-left: 20px" (click)="doLogout()"
          ><fa-icon
            icon="sign-out-alt"
            class="sign-out-alt"
            style="color: #ffffff; font-size: 26px"
          ></fa-icon
        ></a>
      </ion-buttons>
    </div>
  </div>
  <!-- </ion-toolbar> -->
</ion-header>

<ion-content id="content" fullscreen>
  <!-- <cdk-virtual-scroll-viewport
    class="scroll-viewport"
    #scroll
    itemSize="80"
    minBufferPx="900"
    maxBufferPx="1350"
  > -->

  <ion-list lines="none" *ngIf="!isLoading">
    <ion-item-sliding *ngIf="company">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <div class="Bus-Details padding-bt">
              <div class="list_item m-0">
                <div class="px-2 py-3 tic-div border-bottom d-flex">
                  <ngx-avatar
                    size="40"
                    initialsSize="2"
                    cornerRadius="4"
                    [round]="false"
                    name="{{ company.companyName }}"
                  ></ngx-avatar>
                  <div class="w-100 margin-left-15">
                    <div class="mb-0 l-hght-10 l-hght-18 font-bold">
                      {{ company.companyName }}
                      <span
                        *ngIf="company.ownerName !== null"
                        class="text-purple small text-small font-bold"
                        >({{
                          "APP.LISTING_DETAILS.LABEL.OWNER_NAME" | translate
                        }}
                        - {{ company.ownerName }})</span
                      >
                    </div>

                    <div class="start-rating f-10">
                      <div class="d-flex mt-1">
                        <p class="m-0">
                          <fa-icon
                            icon="map-marker-alt"
                            class="map-marker-alt"
                          ></fa-icon
                          ><span class="small font-bold">{{
                            company.location
                          }}</span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="bus-details pt-2 pb-0 px-2">
                  <div class="info" id="info">
                    <ion-label>
                      <h2 class="font-bold text-purple mb-1">
                        {{
                          "APP.LISTING_DETAILS.LABEL.FIRM_ACTIVITY" | translate
                        }}
                      </h2>
                    </ion-label>

                    <p class="text-muted font-bold">
                      {{ company.firmActivity }}
                    </p>
                  </div>
                </div>
                <div class="bus-details pt-2 pb-0 px-2">
                  <div class="info" id="info">
                    <ion-label>
                      <h2 class="font-bold text-purple mb-1">
                        {{
                          "APP.LISTING_DETAILS.LABEL.SERVICE_PROVIDING_CITIES"
                            | translate
                        }}
                      </h2>
                    </ion-label>

                    <p
                      class="text-muted font-bold"
                      style="white-space: pre-line"
                    >
                      {{ company.serviceProvidedLocation }}
                    </p>
                  </div>
                </div>
                <div class="bus-details pt-2 pb-0 px-2">
                  <div class="info" id="info">
                    <ion-label>
                      <h2 class="font-bold text-purple mb-1">
                        {{
                          "APP.LISTING_DETAILS.LABEL.SERVICE_PROVIDING"
                            | translate
                        }}
                      </h2>
                    </ion-label>

                    <p
                      class="text-muted font-bold"
                      style="white-space: pre-line"
                    >
                      {{ vehicleType }}
                    </p>
                  </div>
                </div>
                <div class="bus-details pt-2 pb-0 px-2">
                  <div class="info" id="info">
                    <ion-label>
                      <h2 class="font-bold text-purple mb-1">
                        {{
                          "APP.LISTING_DETAILS.LABEL.MOBILE_NUMBER" | translate
                        }}
                      </h2>
                    </ion-label>

                    <p class="text-muted font-bold">
                      {{ company.mobileNumber }}
                    </p>
                  </div>
                </div>
                <div class="bus-details pt-2 pb-0 px-2">
                  <div class="info" id="info">
                    <ion-label>
                      <h2 class="font-bold text-purple mb-1">
                        {{
                          "APP.LISTING_DETAILS.LABEL.ALTERNATE_MOBILE_NUMBER"
                            | translate
                        }}
                      </h2>
                    </ion-label>

                    <div
                      *ngIf="
                        company.alternateMobileNumber !== '';
                        else other_content
                      "
                    >
                      <p class="text-muted font-bold">
                        {{ company.alternateMobileNumber }}
                      </p>
                    </div>

                    <ng-template #other_content
                      ><p class="text-muted font-bold">N/A</p></ng-template
                    >
                  </div>
                </div>
              </div>

              <!-- Button -->
              <div class="osahan-fotter fixed-bottom px-3 mb-3">
                <button
                  class="btn btn-purple btn-block osahanbus-btn"
                  ion-button
                  (click)="callNow(company.mobileNumber)"
                >
                  {{ "APP.LISTING_DETAILS.BUTTON.CALL_NOW" | translate }}
                </button>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item-sliding>
  </ion-list>

  <ion-list lines="none" *ngIf="isLoading">
    <ion-item-sliding>
      <ion-item lines="none">
        <ion-label>
          <h2>
            <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
          </h2>
          <p>
            <ion-skeleton-text animated style="width: 75%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>
