<ion-header>
  <!-- <ion-toolbar> -->
  <div
    class="osahan-header-nav shadow-sm p-3 d-flex align-items-center bg-purple"
  >
    <h5 class="font-weight-normal mb-0 text-white">
      <a class="text-purple" routerLink="/get-started"
        ><fa-icon icon="arrow-left" class="icofont-rounded-left"></fa-icon
      ></a>
      <ion-title>{{ "APP.CREATE_ACCOUNT.HEADER" | translate }}</ion-title>
    </h5>
  </div>
  <ion-progress-bar
    *ngIf="showProgress"
    color="warning"
    type="indeterminate"
  ></ion-progress-bar>
  <!-- </ion-toolbar> -->
</ion-header>

<ion-content id="content" fullscreen>
  <!-- <cdk-virtual-scroll-viewport
    class="scroll-viewport"
    #scroll
    itemSize="80"
    minBufferPx="900"
    maxBufferPx="1350"
  > -->
  <div id="sign-UP-button"></div>
  <div
    class="osahan-index bg-c align-items-center justify-content-center index-page"
  >
    <div class="px-3 py-3">
      <form [formGroup]="createCompanyForm" #createForm novalidate>
        <ion-list>
          <div class="form-group mb-3">
            <ion-label class="text-purple font-bold mb-1"
              >{{
                "APP.CREATE_ACCOUNT.PLACEHOLDER.SELECT_FIRM_ACTIVITY"
                  | translate
              }}<span class="required-field"></span
            ></ion-label>
            <ion-select
              interface="popover"
              class="form-control rc-form-control native-select it-form-control"
              role="combobox"
              slot
              formControlName="firmActivity"
              placeholder="Select firm activity"
              (ionChange)="onFirmActivityChange($event)"
            >
              <ion-select-option
                *ngFor="let firmActivity of firmActivitys"
                selected="false"
                value="{{ firmActivity | translate }}"
                title="{{ firmActivity | translate }}"
                >{{ firmActivity | translate }}</ion-select-option
              >
            </ion-select>
          </div>

          <div class="form-group mb-3" *ngIf="!checkFirmActivityIsDriver">
            <ion-label class="text-purple font-bold mb-1"
              >{{ "APP.CREATE_ACCOUNT.PLACEHOLDER.COMPANY_NAME" | translate
              }}<span class="required-field"></span
            ></ion-label>
            <ion-input
              class="form-control rc-form-control it-form-control"
              inputMode="text"
              clearInput="true"
              formControlName="companyName"
              maxlength="250"
              placeholder="Enter company name"
            ></ion-input>
          </div>

          <div class="form-group mb-3">
            <ion-label class="text-purple font-bold mb-1"
              >{{ "APP.CREATE_ACCOUNT.PLACEHOLDER.OWNER_NAME" | translate
              }}<span class="required-field"></span
            ></ion-label>
            <ion-input
              class="form-control rc-form-control it-form-control"
              inputMode="text"
              clearInput="true"
              formControlName="ownerName"
              maxlength="250"
              placeholder="Enter owner name"
            ></ion-input>
          </div>

          <div class="form-group mb-3">
            <ion-label class="text-purple font-bold mb-1"
              >{{ "APP.CREATE_ACCOUNT.PLACEHOLDER.SELECT_LOCATION" | translate
              }}<span class="required-field"></span
            ></ion-label>

            <input
              list="locations"
              placeholder="Select location"
              class="form-control rc-form-control native-select it-form-control"
              formControlName="location"
              clearInput="true"
            />
            <datalist id="locations">
              <option
                *ngFor="let location of serviceProvidedLocations"
                value="{{ location.name | translate }}"
                title="{{ location.name | translate }}"
              >
                {{ location.name | translate }}
              </option>
            </datalist>
          </div>

          <div class="form-group mb-3">
            <ion-label class="text-purple font-bold mb-1"
              >{{
                "APP.CREATE_ACCOUNT.PLACEHOLDER.SELECT_SERVICE_PROVIDED_LOCATION"
                  | translate
              }}<span class="required-field"></span
            ></ion-label>

            <div
              *ngIf="
                selectedFirmActivity === 'Freight Forwarders';
                else other_service_locations
              "
            >
              <ion-select
                interface="popover"
                class="form-control rc-form-control native-select it-form-control"
                formControlName="serviceProvidedLocation"
                placeholder="Select service provided location"
              >
                <ion-select-option
                  value="Pan India"
                  title="Pan India"
                  selected="true"
                  >Pan India</ion-select-option
                >
              </ion-select>
            </div>

            <ng-template #other_service_locations>
              <ion-select
                multiple="true"
                interface="popover"
                class="form-control rc-form-control native-select it-form-control"
                formControlName="serviceProvidedLocation"
                placeholder="Select service provided location"
              >
                <ion-select-option
                  *ngFor="
                    let serviceProvidedLocation of serviceProvidedLocations
                  "
                  value="{{ serviceProvidedLocation.name | translate }}"
                  title="{{ serviceProvidedLocation.name | translate }}"
                  >{{
                    serviceProvidedLocation.name | translate
                  }}</ion-select-option
                >
              </ion-select>
            </ng-template>
          </div>

          <div class="form-group mb-3">
            <ion-label class="text-purple font-bold mb-1"
              >{{
                "APP.CREATE_ACCOUNT.PLACEHOLDER.SELECT_VEHICLE_TYPE"
                  | translate
              }}<span class="required-field"></span
            ></ion-label>
            <ion-select
              multiple="true"
              class="form-control rc-form-control native-select it-form-control"
              formControlName="vehicleType"
              cancelText="cancel"
              okText="ok"
              placeholder="Select vehicle type"
            >
              <ion-select-option
                *ngFor="let vehicleType of vehicleTypes"
                selected="false"
                value="{{ vehicleType | translate }}"
                title="{{ vehicleType | translate }}"
                >{{ vehicleType | translate }}</ion-select-option
              >
            </ion-select>
          </div>

          <div class="form-group mb-3" *ngIf="checkFirmActivityIsOwner">
            <ion-label class="text-purple font-bold mb-1"
              >{{
                "APP.CREATE_ACCOUNT.PLACEHOLDER.NUMBER_OF_VEHICLES" | translate
              }}<span class="required-field"></span
            ></ion-label>
            <ion-input
              class="form-control rc-form-control it-form-control"
              inputMode="number"
              clearInput="true"
              formControlName="vehicleNos"
              placeholder="Enter number of vehicles"
            ></ion-input>
          </div>

          <div class="form-group mb-3">
            <ion-label class="text-purple font-bold mb-1"
              >{{ "APP.CREATE_ACCOUNT.PLACEHOLDER.MOBILE_NUMBER" | translate
              }}<span class="required-field"></span
            ></ion-label>
            <ion-input
              class="form-control rc-form-control it-form-control"
              inputMode="tel"
              clearInput="true"
              formControlName="mobileNumber"
              maxlength="10"
              minlength="10"
              placeholder="Enter 10 digit mobile number"
            ></ion-input>
          </div>

          <div class="form-group mb-3">
            <ion-label class="text-purple font-bold mb-1">{{
              "APP.CREATE_ACCOUNT.PLACEHOLDER.ALTERNATE_MOBILE_NUMBER"
                | translate
            }}</ion-label>
            <ion-input
              class="form-control rc-form-control it-form-control"
              inputMode="tel"
              clearInput="true"
              formControlName="alternateMobileNumber"
              maxlength="10"
              minlength="10"
              placeholder="Enter 10 digit mobile number"
            ></ion-input>
          </div>

          <div class="form-group mb-3" *ngIf="checkFirmActivityIsDriver">
            <ion-label class="text-purple font-bold mb-1">{{
              "APP.CREATE_ACCOUNT.PLACEHOLDER.AADHAR_NUMBER" | translate
            }}</ion-label>
            <ion-input
              class="form-control rc-form-control it-form-control"
              inputMode="number"
              clearInput="true"
              formControlName="aadharNumber"
              placeholder="Enter aadhar number"
            ></ion-input>
          </div>

          <div class="form-group mb-3" *ngIf="checkFirmActivityIsDriver">
            <ion-label class="text-purple font-bold mb-1"
              >{{
                "APP.CREATE_ACCOUNT.PLACEHOLDER.DRIVING_LICENSE_NUMBER"
                  | translate
              }}<span class="required-field"></span
            ></ion-label>
            <ion-input
              class="form-control rc-form-control it-form-control"
              inputMode="text"
              clearInput="true"
              formControlName="drivingLicenseNumber"
              placeholder="Enter driving license number"
            ></ion-input>
          </div>

          <div class="form-group mb-3">
            <ion-label class="text-purple font-bold mb-1">{{
              "APP.CREATE_ACCOUNT.PLACEHOLDER.REFERENCE_NAME" | translate
            }}</ion-label>
            <ion-input
              class="form-control rc-form-control it-form-control"
              inputMode="text"
              clearInput="true"
              formControlName="referenceName"
              type="text"
              maxlength="250"
              placeholder="Enter reference name"
            ></ion-input>
          </div>
        </ion-list>
        <button
          type="submit"
          class="btn btn-purple btn-block osahanbus-btn mt-2"
          slot="end"
          fill="clear"
          [disabled]="!createCompanyForm.valid"
          (click)="createCompany(createCompanyForm.value)"
        >
          {{ "APP.CREATE_ACCOUNT.BUTTON.REGISTER" | translate }}
        </button>
      </form>
      <div
        class="osahan-signin text-center text-muted font-bold p-1"
        *ngIf="userExists"
      >
        <p class="pt-5 text-primary">
          {{ "APP.CREATE_ACCOUNT.MOBILE_EXISTS" | translate }}
          <a routerLink="/signin" class="text-orange ml-2">{{
            "APP.CREATE_ACCOUNT.BUTTON.SIGN_IN" | translate
          }}</a>
        </p>
      </div>
      <div
        class="sign-or d-flex align-items-center justify-content-center mt-4 mb-2"
      >
        <hr class="mr-4" />
        <p class="text-muted text-center font-bold py-2 m-0">
          {{ "APP.CREATE_ACCOUNT.PLACEHOLDER.OR" | translate }}
        </p>
        <hr class="ml-4" />
      </div>
      <div class="osahan-signin text-center text-purple p-1 font-bold">
        <p class="mb-3">
          {{ "APP.CREATE_ACCOUNT.PLACEHOLDER.ALREADY_A_MEMBER" | translate }}
          <a routerLink="/signin" class="text-orange ml-2 font-bold">{{
            "APP.CREATE_ACCOUNT.BUTTON.SIGN_IN" | translate
          }}</a>
        </p>
      </div>
      <div
        class="osahan-signin text-center text-muted font-bold p-1"
        *ngIf="invalidMobilenumber"
      >
        <p class="pt-2 text-danger">
          {{ "APP.CREATE_ACCOUNT.INVALID_MOBILE" | translate }}
        </p>
      </div>
    </div>
  </div>
</ion-content>
