<ion-header>
  <ion-toolbar>
    <div
      class="osahan-header-nav shadow-sm d-flex align-items-center bg-purple"
    >
      <h5 class="font-weight-normal mb-0 text-white mt-5">
        <a class="text-purple" routerLink="/select-vehicle"
          ><fa-icon
            icon="bus"
            class="icofont-truck text-white h2 bg-purple p-2 rounded-circle"
          ></fa-icon
        ></a>
        <ion-title>{{ "APP.HOME.BUTTON.SEARCH" | translate }}</ion-title>
      </h5>
      <div class="ml-auto d-flex align-items-center mt-5">
        <ion-buttons slot="end">
          <a [routerLink]="['/profile/', docId]"
            ><fa-icon
              icon="user-circle"
              class="icofont-user-circle"
              style="color: #ffffff; font-size: 26px"
            ></fa-icon
          ></a>
          <a style="margin-left: 20px" (click)="doLogout()"
            ><fa-icon
              icon="sign-out-alt"
              class="sign-out-alt"
              style="color: #ffffff; font-size: 26px"
            ></fa-icon
          ></a>
        </ion-buttons>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content id="content" fullscreen>
  <div
    class="osahan-index bg-c align-items-center justify-content-center index-page"
  >
    <div class="px-3 pb-3 pt-3">
      <div class="bg-white p-3 home-search-form">
        <form [formGroup]="searchCompanyForm" #searchForm>
          <div class="form-group border-bottom">
            <fa-icon icon="search-location" class="search-location"></fa-icon>
            <label
              for="exampleFormControlSelect1"
              class="mb-2 text-purple font-bold"
              ><span class="icofont-search-map text-purple font-bold"></span>
              {{ "APP.HOME.LABEL.FROM" | translate }}</label
            ><br />
            <div class="form-group mb-3">
              <!-- <input
                list="fromLocations"
                placeholder="{{
                  'APP.HOME.PLACEHOLDER.SELECT_FROM_LOCATION' | translate
                }}"
                class="form-control rc-form-control native-select it-form-control"
                required
                formControlName="from"
                clearInput="true"
              />
              <datalist id="fromLocations">
                <option
                  *ngFor="let location of serviceProvidedLocations"
                  value="{{ location.name | translate }}"
                  title="{{ location.name | translate }}"
                >
                  {{ location.name | translate }}
                </option>
              </datalist> -->

              <ion-select
                interface="popover"
                class="form-control rc-form-control native-select it-form-control"
                placeholder="{{
                  'APP.HOME.PLACEHOLDER.SELECT_FROM_LOCATION' | translate
                }}"
                formControlName="from"
                required
              >
                <ion-select-option
                  *ngFor="let location of serviceProvidedLocations"
                  selected="false"
                  value="{{ location.name | translate }}"
                  value="{{ location.name | translate }}"
                  >{{ location.name | translate }}</ion-select-option
                >
              </ion-select>
            </div>
          </div>
          <div class="form-group border-bottom">
            <fa-icon icon="map-marker-alt" class="map-marker-alt"></fa-icon>
            <label
              for="exampleFormControlSelect1"
              class="mb-2 text-purple font-bold"
              ><span class="icofont-google-map text-purple font-bold"></span>
              {{ "APP.HOME.LABEL.TO" | translate }}</label
            ><br />
            <div class="form-group mb-3">
              <!-- <input
                list="toLocations"
                placeholder="{{
                  'APP.HOME.PLACEHOLDER.SELECT_TO_LOCATION' | translate
                }}"
                class="form-control rc-form-control native-select it-form-control"
                required
                formControlName="to"
                clearInput="true"
              />
              <datalist id="toLocations">
                <option
                  *ngFor="let location of serviceProvidedLocations"
                  value="{{ location.name | translate }}"
                  title="{{ location.name | translate }}"
                >
                  {{ location.name | translate }}
                </option>
              </datalist> -->
              <ion-select
                interface="popover"
                class="form-control rc-form-control native-select it-form-control"
                placeholder="{{
                  'APP.HOME.PLACEHOLDER.SELECT_TO_LOCATION' | translate
                }}"
                formControlName="to"
                required
              >
                <ion-select-option
                  *ngFor="let location of serviceProvidedLocations"
                  selected="false"
                  value="{{ location.name | translate }}"
                  value="{{ location.name | translate }}"
                  >{{ location.name | translate }}</ion-select-option
                >
              </ion-select>
            </div>
          </div>
          <div class="form-group border-bottom">
            <fa-icon icon="building" class="building"></fa-icon>
            <label
              for="exampleFormControlSelect1"
              class="mb-2 text-purple font-bold"
              ><span class="icofont-google-map text-purple font-bold"></span>
              {{ "APP.HOME.LABEL.FIRM_ACTIVITY" | translate }}</label
            ><br />
            <div class="form-group mb-3">
              <ion-select
                interface="popover"
                class="form-control rc-form-control native-select it-form-control"
                placeholder="{{
                  'APP.HOME.PLACEHOLDER.SELECT_FIRM_ACTIVITY' | translate
                }}"
                formControlName="firmActivity"
                required
              >
                <ion-select-option
                  *ngFor="let firmActivity of firmActivitys"
                  selected="false"
                  value="{{ firmActivity | translate }}"
                  title="{{ firmActivity | translate }}"
                  >{{ firmActivity | translate }}</ion-select-option
                >
              </ion-select>
            </div>
          </div>
          <button
            type="submit"
            class="btn btn-purple btn-block osahanbus-btn mt-2"
            [disabled]="!searchCompanyForm.valid"
            (click)="searchContactByLocation(searchCompanyForm.value)"
          >
            {{ "APP.HOME.BUTTON.SEARCH" | translate }}
          </button>
        </form>
      </div>
    </div>
    <div class="p-3 bg-warning">
      <div class="row m-0">
        <div class="col-12 py-1 pr-1 pl-0">
          <div class="p-3 bg-white shadow-sm rounded-1">
            <!-- <img class="img-fluid" src="assets/images/ad1.jpg" alt="" /> -->
            <p class="mb-0 mt-4 font-weight-bold">Advertisement Panel</p>
          </div>
        </div>
      </div>
      <div class="row m-0">
        <div class="col-12 py-1 pl-1 pr-0">
          <div class="p-3 bg-white shadow-sm rounded-1">
            <!-- <img
              class="img-fluid"
              src="assets/images/ad2.jpg"
              alt=""
            /> -->
            <p class="mb-0 mt-4 font-weight-bold">Advertisement Panel</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
